body, html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  width: auto;
}
/* Stylling the container which includes  */
.container{
  margin: auto;
  width: 50%;
  padding: 10px;

}
/* Stylling the headings are here */
.homepage-heading{
  font-family: fantasy;

}
.home-list{
  

}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: 365872;
}

.topnav a.active {
  background-color: #365872;
  color: white;
}
